@{
    ViewBag.Title = "Add a watch";
}

@model CreateVM

<form asp-controller="Watch" asp.asp-action="Create">
    <label asp-for="Make"></label>
    <input asp-for="Make" />
    <span asp-validation-for="Make"></span>
    <br />
    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />
    <label asp-for="WatchTypeItems"></label>
    <select
        asp-for="SelectedWatchTypeValue"
        asp-items="Model.WatchTypeItems">
    </select> 
    <span asp-validation-for="SelectedWatchTypeValue"></span>
    <br />
    <br />
    <input type="submit" value="Create" />
</form>

@section scripts
{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}